<div class="full"><header>
    <div class="header">
        <h1>QUOTE GENERATOR</h1>
    </div>
</header>
<main>    
    <div>
      <h2 style="text-align: center; font-weight: 400;">INPUT YOUR QUOTE!</h2>         
    </div>
 
  <footer>
    <div>
        <a href="tel:+254719251880" class="fa fa-phone-square"></a>
        <a href="https://api.whatsapp.com/send?phone=254719251880" class="fa fa-whatsapp"></a>
        <a href="https://www.instagram.com/gitau_ngina/" class="fa fa-instagram"></a>
    </div>
  </footer>