<header>
    <div class="header">
        <h1>QUOTE GENERATOR</h1>
    </div>
</header>
<main>    <div>
    <h2 style="text-align: center; font-weight: 400;">INPUT YOUR QUOTE!</h2>         
</div>

    <div class="formContent">
    <form action="" method="get" name="myform" class="form">
        
        <div class="form">
            <label for="name">Enter your name: </label>
            <input type="text" 
            name="name" 
            id="name"required>
        </div>

        <div class="form">
            <label for="QUOTE">Input your quote: </label>
            <input type="text" 
            name="QUOTE" 
            id="QUOTE"required>
        </div>

        <div class="form">
            <label for="author">Quote author: </label>
            <input type="text" 
            name="author" 
            id="author"required>
        </div>

        <div class="form" >
            <label for="inputdate">Your date of birth: </label>
                <input type="date" 
                name="date"  id="date" 
                onchange="dateResults()" 
                pattern="mm/dd/yyyy" 
                placeholder="mm/dd/yyyy" 
                required>
        </div>

        <div class="form" style="display: inline;">
            <INPUT type="submit" class="button" name="button" value="Submit" id="btn" onclick="formResults()" onclick="myFunction()">
                <p class="popupdesc">Successfully added your quote onto our quote generator.
                </p>
        </div>
 </form>
 
<footer>
    <div>
        <a href="tel:+254719251880" class="fa fa-phone-square"></a>
        <a href="https://api.whatsapp.com/send?phone=254719251880" class="fa fa-whatsapp"></a>
        <a href="https://www.instagram.com/gitau_ngina/" class="fa fa-instagram"></a>
    </div>
</footer>