<div class="full"><header>
    <div class="header">
        <h1>QUOTE GENERATOR</h1>
    </div>
</header>
<main>    
    <div>
      <h2 style="text-align: center; font-weight: 400;">INPUT YOUR QUOTE!</h2>         
    </div>
      <h3 style="text-align: center; font-weight: 400;"></h3>
  <div id="form-container">
      <div class="formContent">
      <form action="" method="get" name="myform" class="form" #goalform="ngForm" (ngSubmit)="submitQuote()">
        
          <div class="form">
              <label for="name">Enter user name: </label>
              <input type="text" 
              name="name" 
              id="name"required>
          </div>

          <div class="form">
            <label for="quote">Enter your quote: </label>
            <input type="text" 
            name="quote" 
            [(ngModel)]="newquote.quote"
            #quote="ngModel"
            id="quote"required>
        </div>

        <div class="form">
            <label for="author">Quote author: </label>
            <input type="text" 
            name="author" 
            [(ngModel)]="newquote.author"
            #author="ngModel"
            id="author"required>
        </div>

          <div class="form" >
              <label for="date">Date of input: </label>
                  <input type="date" 
                  name="date"  id="date" 
                  onchange="dateResults()" 
                  pattern="mm/dd/yyyy" 
                  placeholder="mm/dd/yyyy" 
                  required>
          </div>

          <div class="form" style="display: inline;">
              <INPUT type="submit" class="button" name="button" value="Submit" id="btn">
          </div>
          
                  <p>Your quote has been generated successfuly.</p>

      </form>
      </div>
</div>
</main>
<br><br>




